
.error-msg {
    color:#f04541;
    font-size:.8em;
}

.glyphicon-remove {
    color:#880000;
}

.glyphicon-edit {
    color:#2ca02c;
}

table .center-td {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
